config mini_snmpd
	option	enabled		1
	option	ipv6		1
	option	community	public
	option	location	''
	option	contact		''
	option	disks		'/tmp,/jffs'
	list	interfaces	'loopback'
	list	interfaces	'lan'
	list	interfaces	'wan'

## REMOVEME: On the wiki [0] is reported Max 4 interfaces
## REMOVEME: Maybe a mini_snmpd code limitation...
## REMOVEME: [0] http://wiki.openwrt.org/doc/uci/mini_snmpd
